{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    {% block additional_css %}
    {% endblock %}
    {% block additional_fonts %}
    {% endblock %}
    <title>{% block title %}{% endblock %} :: Online Shop</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
  {% block additional_js %}
  {% endblock %}
</html>