{% extends "main.html" %}
{% load staticfiles %}
{% block title %}Main Page{% endblock %}
{% block main %}
<div class="container">
    <ul class="content-home" style="list-style-type:none">
        {% for good in goods %}
            <li class="col-sm-4">
                <a href="single.html" class="item-link" title="">
                    <div class="bannerBox">
                        <img src="{{good.image.url}}" class="item-img" title="" alt="" width="100%" height="100%">
                        <div class="item-html">
                            <h3>{{ good.name }}</h3>
                            <p>{{ good.description }}</p>
                            <button>Shop now!</button>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
        <div class="clearfix"></div>
    </ul>
</div>
{% endblock %}
