{% extends "base.html" %}
{% load staticfiles %}
{% block additional_css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="{% static 'styles/style.css' %}" rel='stylesheet' type='text/css' />
  <link href="{% static 'styles/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block additional_fonts %}
  <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
{% endblock %}
{% block additional_js %}
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'scripts/megamenu.js' %}"></script>
  <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
  <script src="{% static 'scripts/jquery.easydropdown.js' %}"></script>
  <script src="{% static 'scripts/simpleCart.min.js' %}"> </script>
{% endblock %}
{% block content %}
	<div class="banner">
		<div class="container">
			<div class="header_top">
			   <div class="header_top_left">
				  <div class="box_11"><a href="#">
				  <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="{% static 'images/bag.png' %}" alt=""/><div class="clearfix"> </div></h4>
				  </a></div>
				  <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
				  <div class="clearfix"> </div>
			   </div>
				<div class="header_top_right">
					<div class="lang_list">
					<select tabindex="4" class="dropdown">
						<option value="" class="label" value="">$ Us</option>
						<option value="1">Dollar</option>
						<option value="2">Euro</option>
					</select>
					</div>
					<ul class="header_user_info">
						<a class="login" href="#">
							<i class="user"> </i>
							<li class="user_desc">My Account</li>
						</a>
						<div class="clearfix"> </div>
					</ul>
					<!-- start search-->
					<div class="search-box">
					   <div id="sb-search" class="sb-search">
						  <form>
							 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
							 <input class="sb-search-submit" type="submit" value="">
							 <span class="sb-icon-search"> </span>
						  </form>
						</div>
					</div>
					<!----search-scripts---->
					<script src="{% static 'scripts/classie1.js' %}"></script>
					<script src="{% static 'scripts/uisearch.js' %}"></script>
					<script>
						 new UISearch( document.getElementById( 'sb-search' ) );
					</script>
					<!----//search-scripts---->
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="header_bottom">
				<div class="logo">
					<h1><a href="#"><span class="m_1">W</span>atches</a></h1>
				</div>
				<div class="menu">
					<ul class="megamenu skyblue">
						<li><a class="color2" href="#">Goods</a>
							<div class="megapanel">
								<div class="row">
									<div class="col1">
										<div class="h_nav">
											<h4>Men</h4>
											<ul>
												<li><a href="#">Watches</a></li>
												<li><a href="#">watches</a></li>
												<li><a href="#">Blazers</a></li>
												<li><a href="#">Suits</a></li>
												<li><a href="#">Trousers</a></li>
												<li><a href="#">Jeans</a></li>
												<li><a href="#">Shirts</a></li>
												<li><a href="#">Sweatshirts & Hoodies</a></li>
												<li><a href="#">Swim Wear</a></li>
												<li><a href="#">Accessories</a></li>
											</ul>
										</div>
									</div>
									<div class="col1">
										<div class="h_nav">
											<h4>Women</h4>
											<ul>
												<li><a href="#">Watches</a></li>
												<li><a href="#">watches</a></li>
												<li><a href="#">Blazers</a></li>
												<li><a href="#">Suits</a></li>
												<li><a href="#">Trousers</a></li>
												<li><a href="#">Jeans</a></li>
												<li><a href="#">Shirts</a></li>
												<li><a href="#">Sweatshirts & Hoodies</a></li>
												<li><a href="#">Swim Wear</a></li>
												<li><a href="#">Accessories</a></li>
											</ul>
										</div>
									</div>
									<div class="col2">
										<div class="h_nav">
											<h4>Trends</h4>
											<ul>
												<li class>
													<div class="p_left">
													  <img src="{% static 'images/p1.jpg' %}" class="img-responsive" alt=""/>
													</div>
													<div class="p_right">
														<h4><a href="#">Denim shirt</a></h4>
														<span class="item-cat"><small><a href="#">watches</a></small></span>
														<span class="price">29.99 $</span>
													</div>
													<div class="clearfix"> </div>
												</li>
												<li>
													<div class="p_left">
													  <img src="{% static 'images/p2.jpg' %}" class="img-responsive" alt=""/>
													</div>
													<div class="p_right">
														<h4><a href="#">Denim shirt</a></h4>
														<span class="item-cat"><small><a href="#">watches</a></small></span>
														<span class="price">29.99 $</span>
													</div>
													<div class="clearfix"> </div>
												</li>
												<li>
													<div class="p_left">
													  <img src="{% static 'images/p3.jpg' %}" class="img-responsive" alt=""/>
													</div>
													<div class="p_right">
														<h4><a href="#">Denim shirt</a></h4>
														<span class="item-cat"><small><a href="#">watches</a></small></span>
														<span class="price">29.99 $</span>
													</div>
													<div class="clearfix"> </div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li><a class="color10" href="#">Brands</a></li>
						<li class="active grid"><a class="color3" href="#">Sale</a></li>
						<li><a class="color7" href="#">News</a></li>
						<div class="clearfix"></div>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="main">
    {% block main %}
    {% endblock %}
  	</div>

    <footer>
        <div class="container">
   	 	<div class="newsletter">
			<h3>Newsletter</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
			<form>
			  <input type="text" value="" onfocus="this.value='';" onblur="if (this.value === '') {this.value ='';}">
			  <input type="submit" value="SUBSCRIBE">
			</form>
		</div>
   		<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2015 Watches. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	    </div>
   	</div>
    </footer>
{% endblock %}